[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.3"
psycopg2-binary = "<3"
django-environ = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.12"
