[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.3"
psycopg2 = "<3"
setuptools = "*"
jwt = "*"

[dev-packages]
mypy = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}

[requires]
python_version = "3.12"
